@import "tailwindcss";

@theme {
  --color-neo-green: #00E599;
  --color-neo-green-dark: #00cc88;
  --color-dark-bg: #1A1C23;
  --color-dark-panel: #23252E;
  --color-dark-border: #2E313D;
}

body {
  background-color: var(--color-dark-bg);
  color: #FFFFFF;
}
